.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: whitesmoke;
    
}

.dia {
    color: rgb(0, 0, 0);
    border: 2px solid brown;
    flex: 1;
    height: 50vh;
   
}
.subrayado {
    text-decoration: line-through;
}
.dia>h1{
    text-align: center;
}



/*.flex-container div{
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
}/*




